html {
  font-size: 14px;
}
.header-shared{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a.navlink{
  transition: all ease 1s;
  margin-bottom: 10px;
}
a.nav-link:hover{
  border-bottom: 1px solid white;
  font-weight: 500;
}

a{
  color: rgb(138, 154, 255);
  font-weight: 500;
  text-decoration: none;
}
table, .table{
  color: white;
}

input, .btn{
  background-color: rgba(255, 255, 255, 0.566);
  color: black;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease 1s;
}
input:hover, .btn:hover{
  background-color: rgb(138, 154, 255);
  color: black;
  border: none;
  box-shadow: none;
}

img{
  width: 100%;
}

#contenedor-index{
  position: relative;
  display: inline-block;
  text-align: center;
}
#elemento-index{
  color: white;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 0;
  border-radius: 15px;
}

.btn-index{
  font-size: 1rem;
  background-color: white;
  padding: 0.6rem 1.9rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease 1s;
}
.btn-index:hover{
  box-shadow: none;
  padding: 0.8rem 2.1rem;
  color: black;
}

#nuestrosCursos{
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}
#nuestrosCursos h2{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.btn-cursos{
  color: white !important;
  margin: 0 25px;
}
.nav-pills .nav-link.active{
  background-color: white;
  color: black !important;
}

.tarjeta-curso{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.625);
  color: black;
  text-align: start;
  overflow: hidden;
}
.tarjeta-curso img{
  max-height: 220px;
}
.contenido-tarjeta{
  padding: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(75, 0, 0, 0.85);
  color: white;
}